body{
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
}

.header, .contentText,
.foot{
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    width: 1000px;
    margin: 0;  
}

/*color # R G B*/
.header-blue{
    color: #3E45E8;
}
.header-yelow{
    color: #E8C23E;
}

.HeadBackground {
    background-image:url(/day-3/img/flag.png),
    url(/day-3/img/fon.png);
    background-repeat: no-repeat;
    background-position: 7% 39%, 50% 50%;
    background-size: 15px 180px, 100%;
    height: 566px;
    width: 1000px;
}

.HeadText {
    font-size: 38px;
    color: white;
    vertical-align: top;
    text-align: left;
    margin: 0;
    padding-top: 15%;
    padding-left: 10%;
 }

.rectangleGradient, 
.Note > div
 {
    display: inline-block;
}

.underHead{
    font-family: 'Inika' , serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    max-width: 1000px;
    padding-left: 50px;
    margin:10px;    
}

.rectangleBlue {
    width:389.5px;
    height: 12px;
    background: repeating-linear-gradient(to right,#00E0FF, #1400FF);
    margin: 0; padding: 0;
}
.rectangleYellow{
    width:389.5px;
    height: 12px;
    background: repeating-linear-gradient(to right,#FFA800, #FFF500,rgba(255, 245, 0, 0));
    margin-left: -10px; padding: 0;
}

.contentBox1, .contentBox2, .contentBox3{
    vertical-align: top;
    text-align: center;
    max-width: 1000px;
    width:300px; 
    height:400px;
    margin: 0;
}
.contentBox > div > img{
    width:300px; 
    height:221px;
    margin: 0;
}
.contentBox1 {
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35) ;
}
.contentBox2  {
    box-shadow: 0px 21px 40px rgba(0, 209, 255, 0.35) ;
}
.contentBox3 {
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35) ;
}

.contentBox > div{
    border: 5px solid #0D095F;
    border-radius: 30px;
    display: inline-block;
    margin: 10px;
 }

 #TextBoxBlue {
    position: relative;
    font-family: 'Inika' , serif;
    font-size: 24px;
    text-align: left;
    color: #0072DB;
    padding-top: 10px;
    padding-left: 10px;
}
#TextBoxOrange {
    position: absolute;
    font-family: 'Inika' , serif;
    font-size: 24px;
    text-align: left;
    color: #FF9900;
    padding-top: 10px;
    padding-left: 10px;
}
 .contentText{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 40px;
}

.ButtonGo{
    background-color: #2A61F0;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family:'Inika' , serif;
    font-size: 64px;
    color: #FFFFFF;
    padding-left: 199px;
    padding-right: 199px;
}

.blue_line{
    border-bottom: 7px solid #1400FF;
    margin: 10px 20%;
}

.foot {
    height: 300px;
    font-family: 'M PLUS 1p' , sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
    margin-top:20px;
    background: repeating-linear-gradient(#013235 , #0D0661);
}

.No_Decoration, .ButtonGo{
    text-decoration: none;
}
.mail , .tel{
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    color: #A89D9D;
    text-decoration: none;
}
.Note > p{
    font-style: italic;
    font-weight: bold;
    margin: 3px;
}
.Note {
    padding-left: 30px;
}
.Note_1{
    width: 352px;
    height: 41px;
    font-size: 13px;
}
.Note_2  {
    position: absolute;
    width: 647px;
    font-size: 13px;
    padding-left: 30px;
}