:root{
    max-width: 1500px;    
}

body{
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
}

p{
    text-transform:uppercase ;
    font-size: 40px;
}

.header{
    background-image:url("../img/textSign.png"),
    url("../img/fon.png");
    background-repeat: no-repeat;
    background-position: center, right top;
    background-size:969px, 206px, 100%, 100;
    height: 700px;
    width: 1500px;

}

.card{
    padding-left: 111px;
    padding-right: 113px;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box, .box1, .box2, .box3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 460px;
    width: 30%;
    overflow: hidden;
    background-color: #231B0C ;  
}

.venice{
    background-image:url(/day-4/img/venice.png);
    height: 595px;
    width: 100%;
    justify-content:center;
    margin-top: 30px;
}

.footer{ 
    background-color: #150F02;
    height: 279px;
    width: 100%;
    margin-top: 30px;
}

.footer > p {
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.footer > .footer_block1, .footer_block2{
    display: flex;
    justify-content: space-around;
    padding-right: 20%;
    padding-left: 15%;
    padding-top: 2%;
}


 .bottom_border{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
 }
    .bottom_border > div{
    background-color:#FF6B00 ;
    height: 10px; ;
    width: 318px;
}

.footer_contact{
    text-align: center;
    color: #FFFFFF;
    padding-top: 2rem;
}

a{
    padding: 1rem;
}